@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background-color: black !important;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /*box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;*/
}

.navbar img {
  width: 50px;
}

.navbar-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-container {
  z-index: 1;
}

.vehiculo {
  position: absolute;
  bottom: 0;
  left: -100px;
  width: 120px !important;
  height: auto;
  animation: moverVehiculo 6s linear infinite;
  z-index: 5;
}

@media (max-width: 767px) {
  .vehiculo {
      max-width: 70px;
  }
}

.vehiculo-original {
  animation: moverVehiculoOriginal 6s linear infinite;
}

.vehiculo-alt {
  animation: moverVehiculoAlt 6s linear infinite;
  z-index: 4;
}

@keyframes moverVehiculoOriginal {
  0% { left: -100px; opacity: 1; }
  48% { opacity: 1; }
  49% { opacity: 0; }
  100% { left: 100%; opacity: 0; }
}

@keyframes moverVehiculoAlt {
  0% { left: -100px; opacity: 0; }
  50% { opacity: 0; }
  51% { opacity: 1; }
  100% { left: 100%; opacity: 1; }
}

#panelLateral {
  position: fixed;
  top: 0;
  left: -400px;
  width: 400px;
  height: 100%;
  background: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  max-height: 100vh;
}

#panelLateral.abierto {
  left: 0;
}

.btn-primary {
  background-color: #145b9c !important;
  border: none;
}

.btn-success {
  background-color: #747d90 !important;
  border: none;
}

.btn-danger {
  background-color: #ff133f !important;
  border: none;
}

.active > .page-link,
.page-link.active {
  background-color: #747d90 !important;
  border: 1px solid #747d90;
  color: white !important;
}

.page-link {
  color: #145b9c !important;
}

.table-responsive {
  overflow-x: hidden;
}

#tblVehiculos thead th, #tblVehiculos tbody td{
  text-align: center;
}

.fa-user-plus{
  font-size: 32px;
  color: #145b9c;
}

.contacto-section {
  border: 2px solid #145B9C;
  background-color: #f9f9f9;
}

#formContacto h5, #modalContacto h5{
  color: #145B9C;
}

#modalContacto .modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}